# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Flask
instance/
*.sqlite3
*.db

# Node
node_modules/
dist/
build/

# Vite
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Otros
*.zip

venv/
gym-app/venv/
__pycache__/
*.pyc
gym-ui/node_modules/
gym-ui/dist/