@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos base globales opcionales */
body {
  @apply bg-gray-100 text-gray-900 text-sm;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", "Roboto", sans-serif;
}
